<%-include('../cabecalho')-%>

<h1>Adiciona Usuário</h1>
<form method="post" enctype="multipart/form-data">
    Título: <input type="text" name="titulo" id="titulo"><br />
    Texto: <textarea name="texto" id="texto" cols="30" rows="10"></textarea><br />
    Foto: <input type="file" name="foto" id="foto"><br />
    Usuario:

    <select name="usuario">
        <%Usuarios.forEach(function(usuario){%>
            <option value="<%=usuario._id%>"><%=usuario.nome%></option>
        <%})%>
    </select>


    <input type="submit" value="Adicionar">
</form>

<%-include('../rodape')-%>