<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: aqua;
            margin: auto;
            width: 800px;
        }
        table{
            max-width: 100%;
        }
        table, td, th{
            border: solid 1px red;
            border-collapse:collapse;
        }
        td,th{
            padding: 5px;
        }
        input{
            padding: 10px;
        }
        input{
            width: 80%;
            margin-bottom: 10px;
        }
        input[type="submit"]{
            width: 10%;
            margin-bottom: 10px;            
        }
    </style>
    <title>Adiciona Usuário</title>
</head>
<body>
    <ul>
        <li>
            <a href="/usuario/add">Adicionar Usuário</a>
        </li>
        <li>
            <a href="/usuario/lst">Listar Usuário</a>
        </li>
        <li>
            <a href="/post/add">Adicionar Post</a>
        </li>
        <li>
            <a href="/post/lst">Listar Post</a>
        </li>
        <li>
            <a href="/filme/add">Adicionar Filme</a>
        </li>
        <li>
            <a href="/filme/lst">Listar Filme</a>
        </li>
    </ul>
    