<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        
    </style>
    <title>Adiciona Usuário</title>
</head>

<body class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Sistema de cadastro</h1>
                    <p class="lead">Este é um sistema de cadastro.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/add">Adicionar Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/lst">Listar Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post/add">Adicionar Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post/lst">Listar Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/filme/add">Adicionar Filme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/filme/lst">Listar Filme</a>
                </li>
            </ul>
        </div>
        <div class="col-10">