<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(255, 115, 80);

        }
        body{
            background-color: azure;
            width: 800px;
            margin: auto;
            height: 1024px;
            padding: 10px;
        }
        h1{
            background-color: azure;
            color:red;
            text-align: center;
        }
        table{            
            background-color: azure;
            width: 100%;
            border-collapse: collapse;
        }
        table, td, th{
            background-color: azure;
            border: solid 1px black;
        }
        td, th{
            background-color: azure;
            padding: 10px;
        }
        td a{
            background-color: azure;
        }
    </style>
</head>
<body>
    <h1>
        Algoritmos I
    </h1>
    <table>
        <tr>
            <th>Dia</th>
            <th>Conteúdo</th>
        </tr>
        <tr>
            <td>14/04/2023</td>
            <td>Apresentação da Disciplina</td>
        </tr>
    </table>
</body>
</html>