<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        <%if(turno == 'Boa noite'){%>
            body{
                background-color: black;
                color:white;
            }
        <%} else if(turno == 'Boa tarde'){%>
            body{
                background-image: linear-gradient(white, black);
                color:red;
            }
        <%}else{%>
            body{
                background-color: white;
                color: black;
            }
        <%}%>
    </style>
</head>
<body>
    <h1><%=turno%> <%=nome%>!</h1>
</body>
</html>