<%-include('../cabecalho')-%>
<h1>Adiciona Filme</h1>
<form method="post" enctype="multipart/form-data">
    Titulo: <input type="text" name="titulo" id="titulo"><br />
    Genero: <input type="text" name="genero" id="genero"><br />
    Diretor: <input type="text" name="diretor" id="diretor"><br />
    Foto: <input type="file" name="foto" id="foto"><br />
    Ano: <input type="number" name="ano" id="ano"><br />
    tempo: <input type="time" name="tempo" id="tempo"><br />
    <input type="submit" value="Adicionar">
</form>
<%-include('../rodape')-%>