<%-include('./cabecalho.ejs')%>

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Meu Carrinho
        </h2>
      </div>
      <table>
        <thead>
          <tr>
            <th>Carrinho</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="nome">Nome do produto</td>

            <table>
              <tr>
                <th>Id</th>
                <th>Nome</th>
              </tr>
              <%Cardapio.forEach(function(cardapio){%>
              <tr>
                <td><%=cardapio.id%></td>
                <td><%=cardapio.titulo%></td>
              </tr>
            <%})%>



            </table>


            <td>
                <a href="" class="user_link">
                    <i class="fa fa-trash can" aria-hidden="true"></i>
                  </a>
            </td>
          </tr>
        </tbody>
      </table>  
      </div>
      <div class="btn-box">
        <a href="">
          Inicio
        </a>
      </div>
    </div>
  </section>

  <!-- end food section -->

  <%-include('./rodape.ejs')%>
 