<%-include('../cabecalho')-%>

    <h1>Adiciona Usuário</h1>
    <form method="post" enctype="multipart/form-data">
        Nome: <input type="text" name="nome" id="nome"><br />
        Email: <input type="email" name="email" id="email"><br />
        Senha: <input type="password" name="senha" id="senha"><br />
        Foto: <input type="file" name="foto" id="foto"><br />
        <input type="submit" value="Adicionar">
    </form>

<%-include('../rodape')-%>