<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adiciona Usuário</title>
</head>
<body>
    <h1>Adiciona Usuário</h1>
    <form method="post">
        Nome: <input type="text" name="nome" id="nome"><br />
        Email: <input type="email" name="email" id="email"><br />
        Senha: <input type="password" name="senha" id="senha"><br />
        Foto: <input type="file" name="foto" id="foto"><br />
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>