<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table{
            max-width: 100%;
        }
        table, td, th{
            border: solid 1px red;
            border-collapse:collapse;
        }
        td,th{
            padding: 5px;
        }
        input{
            padding: 10px;
        }
        input[type="text"]{
            width: 80%;
            margin-bottom: 10px;
        }
    </style>
    <title>Adiciona Usuário</title>
</head>
<body>
    