<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edita Usuário</title>
</head>
<body>
    <h1>Edita Usuário</h1>
    <form method="post">
        Id: <input type="text" readonly name="id" id="id" value="<%=Usuario._id%>"><br />
        Nome: <input type="text" name="nome" id="nome" value="<%=Usuario.nome%>"><br />
        Email: <input type="email" name="email" id="email" value="<%=Usuario.email%>"><br />
        Senha: <input type="password" name="senha" id="senha"><br />
        Foto: <input type="file" name="foto" id="foto"><br />
        <input type="submit" value="Editar">
    </form>
</body>
</html>